<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zooapp.jmdel.fr.zooapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AnimalActivity"
            android:label="@string/title_activity_animal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EnclosActivity"
            android:label="@string/title_activity_enclos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FoodActivity"
            android:label="@string/title_activity_food"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FoodDetailActivity"
            android:label="@string/title_activity_food_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TicketsListActivity"
            android:label="@string/title_activity_view_tickets"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TicketsUpdateActivity"
            android:label="@string/title_activity_add_ticket"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TicketsDetailsActivity"
            android:label="@string/title_activity_tickets_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TicketsAddActivity"
            android:label="@string/title_activity_tickets_add"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>